.inputSaerch {
  width: 400px;
  height: 46px;
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundWhite);
  border-radius: var(--borderRadius10);
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}
